%%set vim:ft=erlang
[
 {kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{formatter => {
          logger_formatter,
          #{single_line => true, 
            legacy_header => false,
            time_designator =>$_,
            template => [time, " ", "[",level,"] ",file ,":",line, " ", pid, " ", msg, "\n"]
           }
         }}
     }
    ]}]},

 {myzk, 
  [{store_dir, <<"test home">>}]} %%overrides env seting, get with application:get_evn(app, key) 
].
